.error-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 0, 0);
    height: 100px;
    font-style: italic;
    margin-top: 15px;
    text-align: center;
}

.error-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(15, 85, 15);
    height: 100px;
    font-style: italic;
    margin-top: 15px;
    text-align: center;
}

p {
    font-family:'Courier New', Courier, monospace;
}

.style-buttons {
    width: 150px;
    transition: 0.3s ease-in-out;
}